body
{
  background: linear-gradient(to right, #c31432, #240b36);
  color: #ffffff;
}


.container
{
  width: 65%;
  margin: 0 auto;
}
h1
{
  font-family: monospace;
  font-size: 2.5rem;
  color: #ffffff;
}

p
{
  font-family: monospace;
  font-size: 1.5rem;
  
  margin-bottom: 0.5em;
}

#Details, #Total
{
  vertical-align: top;
  display: inline-block;
  width: 30%;
}

